*.autosave
*.pyc
*.user
*~
.*.swp
.DS_Store
.sw[a-z]
Thumbs.db
tags
tegra/
*.hpp.gch*
var/log/salt/master

debian/files
debian/hide/
debian/libcv-dev.debhelper.log
debian/libcv-dev.substvars
debian/libcv-dev/
debian/libcv2.4.debhelper.log
debian/libcv2.4.substvars
debian/libcv2.4/
debian/libcvaux-dev.debhelper.log
debian/libcvaux-dev.substvars
debian/libcvaux-dev/
debian/libcvaux2.4.debhelper.log
debian/libcvaux2.4.substvars
debian/libcvaux2.4/
debian/libhighgui-dev.debhelper.log
debian/libhighgui-dev.substvars
debian/libhighgui-dev/
debian/libhighgui2.4.debhelper.log
debian/libhighgui2.4.substvars
debian/libhighgui2.4/
debian/libopencv-calib3d-dev.debhelper.log
debian/libopencv-calib3d-dev.substvars
debian/libopencv-calib3d-dev/
debian/libopencv-calib3d2.4.debhelper.log
debian/libopencv-calib3d2.4.substvars
debian/libopencv-calib3d2.4/
debian/libopencv-contrib-dev.debhelper.log
debian/libopencv-contrib-dev.substvars
debian/libopencv-contrib-dev/
debian/libopencv-contrib2.4.debhelper.log
debian/libopencv-contrib2.4.substvars
debian/libopencv-contrib2.4/
debian/libopencv-core-dev.debhelper.log
debian/libopencv-core-dev.substvars
debian/libopencv-core-dev/
debian/libopencv-core2.4.debhelper.log
debian/libopencv-core2.4.substvars
debian/libopencv-core2.4/
debian/libopencv-dev.debhelper.log
debian/libopencv-dev.substvars
debian/libopencv-dev/
debian/libopencv-features2d-dev.debhelper.log
debian/libopencv-features2d-dev.substvars
debian/libopencv-features2d-dev/
debian/libopencv-features2d2.4.debhelper.log
debian/libopencv-features2d2.4.substvars
debian/libopencv-features2d2.4/
debian/libopencv-flann-dev.debhelper.log
debian/libopencv-flann-dev.substvars
debian/libopencv-flann-dev/
debian/libopencv-flann2.4.debhelper.log
debian/libopencv-flann2.4.substvars
debian/libopencv-flann2.4/
debian/libopencv-gpu-dev.debhelper.log
debian/libopencv-gpu-dev.substvars
debian/libopencv-gpu-dev/
debian/libopencv-gpu2.4.debhelper.log
debian/libopencv-gpu2.4.substvars
debian/libopencv-gpu2.4/
debian/libopencv-imgproc-dev.debhelper.log
debian/libopencv-imgproc-dev.substvars
debian/libopencv-imgproc-dev/
debian/libopencv-imgproc2.4.debhelper.log
debian/libopencv-imgproc2.4.substvars
debian/libopencv-imgproc2.4/
debian/libopencv-legacy-dev.debhelper.log
debian/libopencv-legacy-dev.substvars
debian/libopencv-legacy-dev/
debian/libopencv-legacy2.4.debhelper.log
debian/libopencv-legacy2.4.substvars
debian/libopencv-legacy2.4/
debian/libopencv-ml-dev.debhelper.log
debian/libopencv-ml-dev.substvars
debian/libopencv-ml-dev/
debian/libopencv-ml2.4.debhelper.log
debian/libopencv-ml2.4.substvars
debian/libopencv-ml2.4/
debian/libopencv-objdetect-dev.debhelper.log
debian/libopencv-objdetect-dev.substvars
debian/libopencv-objdetect-dev/
debian/libopencv-objdetect2.4.debhelper.log
debian/libopencv-objdetect2.4.substvars
debian/libopencv-objdetect2.4/
debian/libopencv-ocl-dev.debhelper.log
debian/libopencv-ocl-dev.substvars
debian/libopencv-ocl-dev/
debian/libopencv-ocl2.4.debhelper.log
debian/libopencv-ocl2.4.substvars
debian/libopencv-ocl2.4/
debian/libopencv-photo-dev.debhelper.log
debian/libopencv-photo-dev.substvars
debian/libopencv-photo-dev/
debian/libopencv-photo2.4.debhelper.log
debian/libopencv-photo2.4.substvars
debian/libopencv-photo2.4/
debian/libopencv-stitching-dev.debhelper.log
debian/libopencv-stitching-dev.substvars
debian/libopencv-stitching-dev/
debian/libopencv-stitching2.4.debhelper.log
debian/libopencv-stitching2.4.substvars
debian/libopencv-stitching2.4/
debian/libopencv-superres-dev.debhelper.log
debian/libopencv-superres-dev.substvars
debian/libopencv-superres-dev/
debian/libopencv-superres2.4.debhelper.log
debian/libopencv-superres2.4.substvars
debian/libopencv-superres2.4/
debian/libopencv-ts-dev.debhelper.log
debian/libopencv-ts-dev.substvars
debian/libopencv-ts-dev/
debian/libopencv-ts2.4.debhelper.log
debian/libopencv-ts2.4.substvars
debian/libopencv-ts2.4/
debian/libopencv-video-dev.debhelper.log
debian/libopencv-video-dev.substvars
debian/libopencv-video-dev/
debian/libopencv-video2.4.debhelper.log
debian/libopencv-video2.4.substvars
debian/libopencv-video2.4/
debian/libopencv-videostab-dev.debhelper.log
debian/libopencv-videostab-dev.substvars
debian/libopencv-videostab-dev/
debian/libopencv-videostab2.4.debhelper.log
debian/libopencv-videostab2.4.substvars
debian/libopencv-videostab2.4/
debian/opencv-data.debhelper.log
debian/opencv-data.substvars
debian/opencv-data/
debian/opencv-doc.debhelper.log
debian/tmp/
obj-x86_64-linux-gnu/
debian/#rules#
debian/.#rules