Source: opencv
Priority: optional
Section: devel
Maintainer: James Michael DuPont <mdupont@stalinizer.com>
Uploaders: James Michael DuPont <mdupont@stalinizer.com>
Build-Depends: debhelper (>= 9),
 cmake (>= 2.8.7),
 libjpeg-dev,
 libpng-dev,
 libtiff-dev,
 pkg-config,
 zlib1g-dev (>= 1.2.5),
Standards-Version: 3.9.5
Vcs-Git: git://git@github.com:stalinizer/opencv.git
Vcs-Browser: http://github.com/stalinizer/opencv
Homepage: http://github.com/stalinizer/opencv

Package: libcv-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
	pkg-config,
	zlib1g-dev
Description: Hacks for opencv












































